%header.header
  .header-left
    .header-logo
      = link_to 'ChatApp', root_path, class: 'header-logo-link'
  .header-right
    %ul.nav.nav-tabs
      %li.search-user-btn
        = link_to 'ユーザーを探す', search_users_path
      %li.dropdown
        %div aria-expanded: false, data-toggle: dropdown
          = current_user.name
          %span.caret
        %ul.dropdown-menu.user-menu-box
          %li.user-menu-list
            = link_to 'マイページ', user_path(current_user.id)
          %li.user-menu-list
            = link_to 'ログアウト', destroy_user_session_path, method: :delete
